<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog FECODER</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'FECODER_APP/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'FECODER_APP/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'formularioUsuarios' %}">Crear usuario</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'formularioPosts' %}">Crear post</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'buscarContacto' %}">Buscar Contacto</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    {% block titulo %}

                    {% endblock %}

                </div>
            </div>
        </header>
        
        <div class="container">

            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                       
                        {% block GrandeGeneral %}
                        {% endblock %}
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row align-items-start">
                        <div class="col-lg-6">
                            {% block postIzquierdo %}
                            {% endblock %}
                        </div>
                        <div class="col-lg-6">
                            {% block postDerecho %}
                            {% endblock %}
                        </div>
                    </div>


        


        {% block contenido %}
        {% endblock %}
        {% block formulario %}
        {% endblock %}           
            
    </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; FECODER 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'FECODER_APP/js/scripts.js' %}"></script>
    </body>
</html>
